@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,300i,400|Pacifico&display=swap');
body{
	font-family: lato;
	font-size: 20px;
}

/*----navbar--*/
.navbar{
    background-color: #cde9eb82!important;
}
.navbar-brand{
	font-family:Pacifico;
	font-size: 30px;
	color: #2ecc71!important;
	padding-left: 5px;
	margin-top: -8px;
}
.navbar-brand:hover{
	transform: rotate(360deg);
}
.nav-item:hover{
	background-color: white;
	border-radius: 20px;
}
.nav-item{
  	text-align: center;
}
.top-nav{
	font-size: 20px;
	font-family: lato;
}
.navbar-light .navbar-nav .nav-link{
	color: black;
	margin: 3px;
}

.s-icon i{
	margin:3px;
	color: #2ecc71!important;
}
.s-icon{
	margin-right: 40px;
}
/*------slider--*/
.slide img{
	width: 100%;
}
.slide{
	position: relative;
	width: 100%;
}
.slide-text{
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slide-text h4{

	font-size: 55px;
	font-weight: 600;
}
.slide-text p{
	font-size: 23px;
}
.slide img{
	height: 96vh;
}
.cycle-pager{
	position: absolute;
	right:0.5%;
	top:38%;
	z-index: 1003;
	transform: rotate(90deg);
}
.cycle-pager span{
	text-indent: -9999px;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    margin: 0 4px;
    padding: 5px;
    cursor: pointer;
}
.cycle-pager .cycle-pager-active{
	background-color: black;
}
/*----about me section---*/
.section-about{
	background: #f8f8f8;
}
 h2{
	font-family: Abril Fatface;
	font-size: 40px!important;
	letter-spacing: 3px;
	word-spacing: 4px;
}
.section-about h2{
	margin-top: 100px;
}
h2:after {
    display: block;
    width: 200px;
    height: 3px;
    background-color: #2ecc71;
    content: "";
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-about p{
	margin-top: 30px;
	padding: 3px;
}
.section-about img{
	margin-left: 50px;
}
/*----services section---*/

.services-overlay{
	margin-top: -100px;
}

.section-services .card{
	background-color: #2ecc713d;
}
.section-services .card-header{
	background-color:#2ecc71; 
	text-align: center;
	margin:5px 0;
}

.section-services h2{
	position:absolute;
    top :8%;
    left:50%;
    transform: translate(-50%, -50%);
	text-transform: capitalize;
	color: white;
}

.section-services p{
	text-align: center;
}
.section-services .card-body img{
	max-width: 100%;
	text-align: center;
	display: block;
	height: 150px;
	width: 50%;
	margin: 0 auto;
}
/*------section-testimonial---*/
.section-testimonial{
	background: url(@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,300i,400|Pacifico&display=swap');
body{
	font-family: lato;
	font-size: 20px;
}

/*----navbar--*/
.navbar{
    background-color: #cde9eb82!important;
}
.navbar-brand{
	font-family:Pacifico;
	font-size: 30px;
	color: #2ecc71!important;
	padding-left: 5px;
	margin-top: -8px;
}
.navbar-brand:hover{
	transform: rotate(360deg);
}
.nav-item:hover{
	background-color: white;
	border-radius: 20px;
}
.nav-item{
  	text-align: center;
}
.top-nav{
	font-size: 20px;
	font-family: lato;
}
.navbar-light .navbar-nav .nav-link{
	color: black;
	margin: 3px;
}

.s-icon i{
	margin:3px;
	color: #2ecc71!important;
}
.s-icon{
	margin-right: 40px;
}
/*------slider--*/
.slide img{
	width: 100%;
}
.slide{
	position: relative;
	width: 100%;
}
.slide-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slide-text h4{
	font-size: 55px;
	font-weight: 300;
}
.slide-text p{
	font-size: 23px;
}
.slide img{
	height: 96vh;
}
.cycle-pager{
	position: absolute;
	right:0.5%;
	top:38%;
	z-index: 1003;
	transform: rotate(90deg);
}
.cycle-pager span{
	text-indent: -9999px;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    margin: 0 4px;
    padding: 5px;
    cursor: pointer;
}
.cycle-pager .cycle-pager-active{
	background-color: black;
}
/*----about me section---*/
.section-about{
	background: #f8f8f8;
}
 h2{
	font-family: Abril Fatface;
	font-size: 40px!important;
	letter-spacing: 3px;
	word-spacing: 4px;
}
.section-about h2{
	margin-top: 100px;
}
h2:after {
    display: block;
    width: 200px;
    height: 3px;
    background-color: #2ecc71;
    content: "";
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-about p{
	margin-top: 30px;
	padding: 3px;
}
.section-about img{
	margin-left: 50px;
}
/*----services section---*/

.services-overlay{
	margin-top: -100px;
}

.section-services .card{
	background-color: #2ecc713d;
}
.section-services .card-header{
	background-color:#2ecc71; 
	text-align: center;
	margin:5px 0;
}

.section-services h2{
	position:absolute;
    top :8%;
    left:50%;
    transform: translate(-50%, -50%);
	text-transform: capitalize;
	color: white;
}

.section-services p{
	text-align: center;
}
.section-services .card-body img{
	max-width: 100%;
	text-align: center;
	display: block;
	height: 150px;
	width: 50%;
	margin: 0 auto;
}
/*------section-testimonial---*/
.section-testimonial{
	background: url(4.png);
	background-size: cover;
	color: black;
	background-attachment: fixed;
}
.section-testimonial h2{
	margin-top: 0px;
	text-transform: capitalize;
	padding-top: 100px;
}
.section-testimonial p{
	margin-top: 50px;
	margin-bottom: 40px;
	padding: 10px;
}
.section-testimonial img{
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin-top: -20px;
	margin-bottom: 20px;
}
small{
	font-size: 20px;
}
/*------section chember---*/
.section-chambers{
	background :#edede969;
}
.section-chambers h2{
	margin-top: 0px;
	text-transform: capitalize;
	padding-top: 50px;
	margin-bottom: 30px;

}
.row-cm{
	background-color: #fff;
	margin: 0 auto;
	font-style: italic;
	font-family: lato;
	color: black;
	margin-top: 20px;
}
.row-cm h4{
   margin-top: 30px;
   font-style:normal;
}


/*---section-contact----------*/

.section-contact h2{
	margin-top: 0px;
	text-transform: capitalize;
	padding-top: 50px;
	margin-bottom: 30px;

}
.c-row{
	margin-top: 90px;
}
.section-contact{
	margin:100px 0;width: 65%; 
}
.full{
	background: url(@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,300i,400|Pacifico&display=swap');
body{
	font-family: lato;
	font-size: 20px;
}

/*----navbar--*/
.navbar{
    background-color: #cde9eb82!important;
}
.navbar-brand{
	font-family:Pacifico;
	font-size: 30px;
	color: #2ecc71!important;
	padding-left: 5px;
	margin-top: -8px;
}
.navbar-brand:hover{
	transform: rotate(360deg);
}
.nav-item:hover{
	background-color: white;
	border-radius: 20px;
}
.nav-item{
  	text-align: center;
}
.top-nav{
	font-size: 20px;
	font-family: lato;
}
.navbar-light .navbar-nav .nav-link{
	color: black;
	margin: 3px;
}

.s-icon i{
	margin:3px;
	color: #2ecc71!important;
}
.s-icon{
	margin-right: 40px;
}
/*------slider--*/
.slide img{
	width: 100%;
}
.slide{
	position: relative;
	width: 100%;
}
.slide-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slide-text h4{
	font-size: 55px;
	font-weight: 300;
}
.slide-text p{
	font-size: 23px;
}
.slide img{
	height: 96vh;
}
.cycle-pager{
	position: absolute;
	right:0.5%;
	top:38%;
	z-index: 1003;
	transform: rotate(90deg);
}
.cycle-pager span{
	text-indent: -9999px;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    margin: 0 4px;
    padding: 5px;
    cursor: pointer;
}
.cycle-pager .cycle-pager-active{
	background-color: black;
}
/*----about me section---*/
.section-about{
	background: #f8f8f8;
}
 h2{
	font-family: Abril Fatface;
	font-size: 40px!important;
	letter-spacing: 3px;
	word-spacing: 4px;
}
.section-about h2{
	margin-top: 100px;
}
h2:after {
    display: block;
    width: 200px;
    height: 3px;
    background-color: #2ecc71;
    content: "";
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-about p{
	margin-top: 30px;
	padding: 3px;
}
.section-about img{
	margin-left: 50px;
}
/*----services section---*/

.services-overlay{
	margin-top: -100px;
}

.section-services .card{
	background-color: #2ecc713d;
}
.section-services .card-header{
	background-color:#2ecc71; 
	text-align: center;
	margin:5px 0;
}

.section-services h2{
	position:absolute;
    top :8%;
    left:50%;
    transform: translate(-50%, -50%);
	text-transform: capitalize;
	color: white;
}

.section-services p{
	text-align: center;
}
.section-services .card-body img{
	max-width: 100%;
	text-align: center;
	display: block;
	height: 150px;
	width: 50%;
	margin: 0 auto;
}
/*------section-testimonial---*/
.section-testimonial{
	background: url(4.png);
	background-size: cover;
	color: black;
	background-attachment: fixed;
}
.section-testimonial h2{
	margin-top: 0px;
	text-transform: capitalize;
	padding-top: 100px;
}
.section-testimonial p{
	margin-top: 50px;
	margin-bottom: 40px;
	padding: 10px;
}
.section-testimonial img{
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin-top: -20px;
	margin-bottom: 20px;
}
small{
	font-size: 20px;
}
/*------section chember---*/
.section-chambers{
	background :#edede969;
}
.section-chambers h2{
	margin-top: 0px;
	text-transform: capitalize;
	padding-top: 50px;
	margin-bottom: 30px;

}
.row-cm{
	background-color: #fff;
	margin: 0 auto;
	font-style: italic;
	font-family: lato;
	color: black;
	margin-top: 20px;
}
.row-cm h4{
   margin-top: 30px;
   font-style:normal;
}


/*---section-contact----------*/

.section-contact h2{
	margin-top: 0px;
	text-transform: capitalize;
	padding-top: 50px;
	margin-bottom: 30px;

}
.c-row{
	margin-top: 90px;
}
.section-contact{
	margin:100px 0;width: 65%; 
}
.full{
	background: url(@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,300i,400|Pacifico&display=swap');
body{
	font-family: lato;
	font-size: 20px;
}

/*----navbar--*/
.navbar{
    background-color: #cde9eb82!important;
}
.navbar-brand{
	font-family:Pacifico;
	font-size: 30px;
	color: #2ecc71!important;
	padding-left: 5px;
	margin-top: -8px;
}
.navbar-brand:hover{
	transform: rotate(360deg);
}
.nav-item:hover{
	background-color: white;
	border-radius: 20px;
}
.nav-item{
  	text-align: center;
}
.top-nav{
	font-size: 20px;
	font-family: lato;
}
.navbar-light .navbar-nav .nav-link{
	color: black;
	margin: 3px;
}

.s-icon i{
	margin:3px;
	color: #2ecc71!important;
}
.s-icon{
	margin-right: 40px;
}
/*------slider--*/
.slide img{
	width: 100%;
}
.slide{
	position: relative;
	width: 100%;
}
.slide-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  .slide-text h4{
	font-size: 55px;
	font-weight: 300;
}
.slide-text p{
	font-size: 23px;
}
.slide img{
	height: 96vh;
}
.cycle-pager{
	position: absolute;
	right:0.5%;
	top:38%;
	z-index: 1003;
	transform: rotate(90deg);
}
.cycle-pager span{
	text-indent: -9999px;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    margin: 0 4px;
    padding: 5px;
    cursor: pointer;
}
.cycle-pager .cycle-pager-active{
	background-color: black;
}
/*----about me section---*/
.section-about{
	background: #f8f8f8;
}
 h2{
	font-family: Abril Fatface;
	font-size: 40px!important;
	letter-spacing: 3px;
	word-spacing: 4px;
}
.section-about h2{
	margin-top: 100px;
}
h2:after {
    display: block;
    width: 200px;
    height: 3px;
    background-color: #2ecc71;
    content: "";
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-about p{
	margin-top: 30px;
	padding: 3px;
}
.section-about img{
	margin-left: 50px;
}
/*----services section---*/

.services-overlay{
	margin-top: -100px;
}

.section-services .card{
	background-color: #2ecc713d;
}
.section-services .card-header{
	background-color:#2ecc71; 
	text-align: center;
	margin:5px 0;
}

.section-services h2{
	position:absolute;
    top :8%;
    left:50%;
    transform: translate(-50%, -50%);
	text-transform: capitalize;
	color: white;
}

.section-services p{
	text-align: center;
}
.section-services .card-body img{
	max-width: 100%;
	text-align: center;
	display: block;
	height: 150px;
	width: 50%;
	margin: 0 auto;
}
/*------section-testimonial---*/
.section-testimonial{
	background: url(https://source.unsplash.com/random);
	background-size: cover;
	color: black;
	background-attachment: fixed;
}
.section-testimonial h2{
	margin-top: 0px;
	text-transform: capitalize;
	padding-top: 100px;
}
.section-testimonial p{
	margin-top: 50px;
	margin-bottom: 40px;
	padding: 10px;
}
.section-testimonial img{
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin-top: -20px;
	margin-bottom: 20px;
}
small{
	font-size: 20px;
}
/*------section chember---*/
.section-chambers{
	background :#edede969;
}
.section-chambers h2{
	margin-top: 0px;
	text-transform: capitalize;
	padding-top: 50px;
	margin-bottom: 30px;

}
.row-cm{
	background-color: #fff;
	margin: 0 auto;
	font-style: italic;
	font-family: lato;
	color: black;
	margin-top: 20px;
}
.row-cm h4{
   margin-top: 30px;
   font-style:normal;
}


/*---section-contact----------*/

.section-contact h2{
	margin-top: 0px;
	text-transform: capitalize;
	padding-top: 50px;
	margin-bottom: 30px;

}
.c-row{
	margin-top: 90px;
}
.section-contact{
	margin:100px 0;width: 65%; 
}
.full{
	background: url(https://source.unsplash.com/random);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
}
.form-control{
	background:rgba(242, 242, 242, 0.4);
	margin-bottom: 30px;
}
.section-contact textarea{
	height: 210px!important;
}


/*-----media queries---*/
@media only screen and (max-device-width : 768px) {
    .slide-text h4{
	font-size: 20px;
}
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
  }
.form-control{
	background:rgba(242, 242, 242, 0.4);
	margin-bottom: 30px;
}
.section-contact textarea{
	height: 210px!important;
}


/*----media queries--*/
  /* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

body{
	font-size: 15px;
}

.slide-text h4{
	font-size: 25px;
}

.slide-text p{
	font-size: 16px;
}
.section-services h2{
	top: 30%;
	color: white;
}
h2{
	font-size: 30px!important;
}
h2:after {
   width: 150px;
}
.jumbotron{
	display: none;
}
.section-contact h2{
	padding-top: 20px;
}

.c-row{
	margin-top: 20px!important;
}
.section-contact{
	margin:30px 0;width: 65%; 
}
.section-contact textarea{
	height: 90px!important;
}

}
/*---end of xs devices--*/
@media only screen
and (min-device-width : 481px)
and (max-device-width : 600px) {

.slide-text h4{
	font-size: 28px;
}

.slide-text p{
	font-size: 20px;
}


.jumbotron{
	display: none;
}
.section-contact h2{
	padding-top: 20px;
}

.c-row{
	margin-top: 20px!important;
}
.section-contact{
	margin:30px 0;width: 65%; 
}
.section-contact textarea{
	height: 90px!important;
}


}
/*  --end of 481-600px--------- */
@media only screen
and (min-device-width : 601px)
and (max-device-width : 768px) {
    .slide-text h4{
	font-size: 20px;
}

.slide-text p{
	font-size: 20px;
}

}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
